
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{category}}</p>
      <p class="card-text"><small class="text-muted">{{style}}</small></p>
    </div>
  </div>

<script src="/javascript/all-activities.js"></script>