<section>
    <div class="row">
        <div class="col-12 justify-content-center">
            <header>
                <h2>Popular Activites</h2>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="activity-container col-12 col-md-4">
            <p>laksdjflkajsdf</p>
        </div>
        <div class="activity-container col-12 col-md-4">
            <p>laksdjflkajsdf</p>
        </div>
        <div class="activity-container col-12 col-md-4">
            <p>laksdjflkajsdf</p>
        </div>


    </div>



</section>

<script src="/javascript/all-activities.js"></script>