{{!-- <header class="col-lg-3 col-md-4 col-sm-5">
    <nav class="nav-hide web-nav">
        {{#if loggedIn}}
        <h1>Hi {{User.last_name}}{{User.first_name}}!</h1>

        {{/if}}


        <hr>
        <div class="row nav-row">
            <img src="star-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/popular-activities" class="col-lg-10 col-sm-10">Popular Activities</a>
            <img src="star-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/single-event" class="col-lg-10 col-sm-10">Choose an Event</a>
            <img src="vehicle-cab-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/create-vehicle" class="col-lg-10 col-sm-10">Create a Vehicle</a>
            <img src="vehicle-cab-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/create-event" class="col-lg-10 col-sm-10">Create an Event</a>
            <img src="profile-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/profile-edit" class="col-lg-10 col-sm-10">Edit Profile</a>
            {{#if loggedIn}}
            <img src="profile-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/signout" class="col-lg-10 col-sm-10">Sign Out</a>
            {{/if}}
        </div>
        <a href="/" class="web-logo"><img src="logo.svg" alt="Glide carpool app logo" width="200px"></a>
    </nav>
    <div class="navbar">
        <div class="cell-nav-header ">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <a href="/"><img src="logo.svg" alt="Glide carpool app logo" width="130vw"></a>
            <a href="/single-event">Events</a>
            <a href="/profile-edit">Profile</a>
        </div>
        <ul class="nav-menu">
            {{#if loggedIn}}
            <h1>{{{User.last_name}}}{{User.first_name}}</h1>

            {{/if}}
            <hr>
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="star-icon.svg" width="18vw" alt="">
                <a href="/popular-activities" class="col-lg-10 col-sm-10 nav-link">Popular Activities</a>
            </div>
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="star-icon.svg" width="18vw" alt="">
                <a href="/single-event" class="col-lg-10 col-sm-10 nav-link">Choose an Event</a>
            </div>
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="vehicle-cab-icon.svg" width="18vw" alt="">
                <a href="/create-vehicle" class="col-lg-10 col-sm-10 nav-link">Create a Vehicle</a>
            </div>
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="vehicle-cab-icon.svg" width="18vw" alt="">
                <a href="/create-event" class="col-lg-10 col-sm-10 nav-link">Create an Event</a>
            </div>
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="profile-icon.svg" width="18vw" alt="">
                <a href="/profile-edit" class="col-lg-10 col-sm-10 nav-link">Edit Profile</a>
            </div>
            {{#if loggedIn}}
            <div class="nav-item">
                <img class="col-lg-2 col-sm-2" src="profile-icon.svg" width="18vw" alt="">
                <a href="/" class="col-lg-10 col-sm-10" href="/signout" class="nav-link">Sign Out</a>
            </div>
            {{/if}}
    </div>
    </ul>
    </div>
</header>
<script src="/javascript/nav-bar.js"></script> --}}