    <nav class="nav-hide web-nav">
        {{#if loggedIn}}
        <h1>Hi {{{User.last_name}}}{{User.first_name}}!</h1>

        {{/if}}


        <hr>
        <div class="row nav-row">
            <img src="star-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/popular-activities" class="col-lg-10 col-sm-10">Popular Activities</a>
            <img src="star-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/single-event" class="col-lg-10 col-sm-10">Choose an Event</a>
            <img src="vehicle-cab-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/create-vehicle" class="col-lg-10 col-sm-10">Create a Vehicle</a>
            <img src="vehicle-cab-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/create-event" class="col-lg-10 col-sm-10">Create an Event</a>
            <img src="profile-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/profile-edit" class="col-lg-10 col-sm-10">Edit Profile</a>
            {{#if loggedIn}}
            <img src="profile-icon.svg" alt="" class="col-lg-2 col-sm-2">
            <a href="/signout" class="col-lg-10 col-sm-10">Sign Out</a>
            {{/if}}
        </div>
        <a href="/" class="web-logo"><img src="logo.svg" alt="Glide carpool app logo" width="200px"></a>
    </nav>
