<nav class="row nav-row nav-hide web-nav side-bar">
    {{#if loggedIn}}
    <h1>Hi {{{User.last_name}}}{{User.first_name}}!</h1>
    {{/if}}
    <hr>

    <div class="row d-flex">
        <img src="star-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/popular-activities" class="col-lg-9 col-sm-9">Popular Activities</a>
    </div>

    <div class="row d-flex">
        <img src="star-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/single-event" class="col-lg-9 col-sm-9">Choose an Event</a>
    </div>

    <div class="row d-flex">
        <img src="vehicle-cab-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/create-vehicle" class="col-lg-9 col-sm-9">Create a Vehicle</a>
    </div>

    <div class="row d-flex">
        <img src="vehicle-cab-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/create-event" class="col-lg-9 col-sm-9">Create an Event</a>
    </div>

    <div class="row d-flex">
        <img src="profile-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/profile-edit" class="col-lg-9 col-sm-9">Edit Profile</a>
    </div>


    {{#if loggedIn}}
    <div class="row d-flex">
        <img src="profile-icon.svg" alt="" class="col-lg-3 col-sm-3">
        <a href="/signout" class="col-lg-9 col-sm-9">Sign Out</a>
    </div>
    {{/if}}


    <a href="/" class="web-logo"><img class="nav-logo" src="logo.svg" alt="Glide carpool app logo" width="200px"></a>
</nav>