{{> nav-bar }}
<main class="col-lg-9 col-md-8 col-sm-7">
  <h2>Create Vehicle</h2>

  <form class="vehicle-create">
    <div>
      <label class="text-light" for="vehicle-year">Year</label>
      <input type="number" id="vehicle-year" name="year" placeholder="Year" />
    </div>
    <div>
      <label class="text-light" for="vehicle-make">Make</label>
      <input type="text" id="vehicle-make" name="make" placeholder="Make" />
    </div>
    <div>
      <label class="text-light" for="vehicle-model">Model</label>
      <input type="text" id="vehicle-model" name="model" placeholder="Model" />
    </div>
    <div>
      <label class="text-light" for="vehicle-fuel_eco">Fuel Economy</label>
      <input type="text" id="vehicle-fuel_eco" name="fuel_eco" placeholder="Economy" />
    </div>
    <div>
      <label class="text-light" for="vehicle-color">Color</label>
      <input type="color" id="vehicle-color" name="color" />
    </div>
    <div>
      <label class="text-light" for="vehicle-max_passengers">Passenger Capacity</label>
      <input type="number" id="vehicle-max_passengers" name="max_passengers" placeholder="Passengers" />
    </div>
    <button type="submit" class="btn btn-light">Create</button>
  </form>
</main>
<script src="/javascript/add-vehicle.js"></script>