<section>
  <h2>Create an Event</h2>

  <form class="event-create">
    <div>
      <label for="event-name">Event Name</label>
      <input type="text" id="event-name" name="name" placeholder="Event Name" />
    </div>
    <div>
      <label for="event-description">Description</label>
      <input type="text" id="event-description" name="description" placeholder="Event Description" />
    </div>
    <div>
      <label for="event-location">Location</label>
      <input type="text" id="event-location" name="location" placeholder="Event Location"/>
    </div>
    <div>
      <label for="event-begining-time">Begining time</label>
      <input type="date" id="event-begining-time" name="time-begin" placeholder="Event Begining Time" />
    </div>
    <div>
      <label for="event-end-time">Ending time</label>
      <input type="date" id="event-end-time" name="time-end" placeholder="Event Ending Time" />
    </div>
    <div>
      <label for="event-max-participants">Participants</label>
      <input type="number" id="event-max-participants" name="max_participants"/>
    </div>
    <div>
      <label for="event-min-participants">Participants</label>
      <input type="number" id="event-min-participants" name="min_participants"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
  
<script src="/javascript/add-event.js"></script>