
<style>
  main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    }
  label {
  color:whitesmoke
  }
</style>
<div class="col-lg-9 col-md-8 col-sm-7" id="editSubmit" >
  <main class="col-lg-9 col-md-8 col-sm-7">
    <h2 style="color:whitesmoke">Create Vehicle</h2>
    <form class="vehicle-create">
      <div>
        <label  for="vehicle-year">Year:</label>
        <input type="number" id="vehicle-year" name="year" placeholder="Example: 2022" />
      </div>
      <div>
        <label for="vehicle-make">Make:</label>
        <input type="text" id="vehicle-make" name="make" placeholder="Example: Ford" />
      </div>
      <div>
        <label for="vehicle-model">Model:</label>
        <input type="text" id="vehicle-model" name="model" placeholder="Example: F150" />
      </div>
      <div>
        <label for="vehicle-fuel_eco">Fuel Economy:</label>
        <input type="text" id="vehicle-fuel_eco" name="fuel_eco" placeholder="Example: Gasoline, Diesel.." />
      </div>
      <div>
        <label for="vehicle-color">Color:</label>
        <input type="color" id="vehicle-color" name="color" />
      </div>
      <div>
        <label for="vehicle-max_passengers">Passenger Capacity:</label>
        <input type="number" id="vehicle-max_passengers" name="max_passengers" placeholder="Passengers" />
      </div>
      <button type="submit" class="btn btn-light">Create</button>
    </form>
  </main>
</div>
<script src="/javascript/add-vehicle.js"></script>