    <main>
{{!-- A large table listing upcoming events in liked activities--}}
{{!-- A small table of what types of activities have been liked --}}
<h1>lskadjflksjadflkjasdlkfja;lskdjgf;lkasjdgf;lkjasd;lfkjas;ldkdjf;alskdjg;lkasjdf;glkjas;flkgj</h1>

{{!-- MORE HTML GOES HERE --}}
    </main>
