<div class="wrapper col-12 ">
    <main>
{{!-- A large table listing upcoming events in liked activities--}}
{{!-- A small table of what types of activities have been liked --}}


{{!-- MORE HTML GOES HERE --}}
    </main>
</div>