<div class="landing-page">
    <a href="/" class="web-logo landing-logo"><img src="logo.svg" alt="Glide carpool app logo" width="100%"></a>

    <form class="login-form container">

        <h3>Log In</h3>
        <div>
            <input type="text" id="email-login" placeholder="Email" />
        </div>
        <div>
            <input type="password" id="password-login" placeholder="password" />
        </div>
        <div>
            <button type="submit" class="btn">Log In</button>
        </div>
    </form>

</div>

<script src="/javascript/login.js"></script>