{{> nav-bar }}
<section class="lading page col-lg-9 col-md-8 col-sm-12">
    <a href="/dashboard"> &larr; Back to My dashboard</a>

    <div class="container mt-5 col-lg-9 col-md-8 col-sm-12">
        <div>
            <button id="pop-act-btn" type="submit" class="btn btn-light mb-3">Popular Activities</button>
        </div>
        {{#each this}}
        <div id="pop-container">
            <div class="card mb-2">
                <div class="card-header">
                    <img>
                    <div class="card-body">
                        <p class="card-text" id="pop-act-title">{{Activity.title}}</p>
                        <p class="card-text" id="pop-act-fee">{{Activity.fee}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

</section>

{{#if loggedIn}}
<script src="/public/javascript/popular-activities.js"></script>
{{/if}}