
    {{> header-bar }}

<div class="col-3 col-md-4 col-lg-3">

    {{> side-bar }}

</div>


<div class="col-12 col-md-6 col-lg-9">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <header>
                <h2 class="main-heading light-on-dark">Popular Activites</h2>
            </header>
        </div>
    </div>

    <section>
        <div class="row d-flex justify-content-around">
                {{#each activities as |item|}}
                {{> activity-container item }}
                {{/each}}
        </div>
    </section>


</div>
{{!-- <footer>
    Thanks for visiting!
</footer> --}}