
<div class="col-3">

    {{> side-bar }}
    {{> header-bar }}
    
</div>


    <div class="col-9">
        {{> all-activities }}
        {{!-- {{{ body }}} --}}
    </div>
    {{!-- <footer>
      Thanks for visiting!
    </footer> --}}
