<div class="outer-div">

    {{> side-bar sessionInfo }}

    <main class="scrollable">

        <div class="row">
            <header class="col-12 d-flex justify-content-center">
                <h2 class="main-heading light-on-dark">Popular Activites</h2>
            </header>
        </div>

        <section class="row">
            <div class="col-12 d-flex justify-content-center flex-wrap">
                {{#each activities as |item|}}
                {{> activity-container item }}
                {{/each}}
            </div>
        </section>

    </main>
</div>
