<div class="outer-div">

  {{> side-bar sessionInfo }}

  <main class="scrollable">

    <div class="row">
      <header class="col-12 d-flex justify-content-center">
        <h2>Edit Profile</h2>
      </header>
    </div>

    <section class="row">
      <div class="col-12 d-flex justify-content-center flex-wrap">
        <form class="edit-profile ">
          <label for="edit-first_name">First Name</label>
          <input name="edit-first_name" type="text" value={{first_name}} />
          <label for="edit-last_name">Last Name</label>
          <input name="edit-last_name" type="text" value={{last_name}} />
          <label for="edit-email">Email</label>
          <input name="edit-email" type="text" value={{email}} />
          <button type=" submit" class="btn">Save changes</button>
        </form>
      </div>
    </section>

  </main>
</div>


<script src="/javascript/edit-user.js"></script>
<script src="/javascript/nav-bar.js"></script>