<div class="landing-page">
    <a href="/" class="web-logo landing-logo"><img src="logo.svg" alt="Glide carpool app logo" width="100%"></a>
    <div class="card-body">

        <form class="signupForm container">
            <h3 class="pl-3 mb-3">Sign Up</h3>
            <div>
                <input type="text" id="firstname-signup" class="col-lg-3" placeholder="First Name" />
            </div>
            <div>
                <input type="text" id="lastname-signup" class="col-lg-3" placeholder="Last Name" />
            </div>
            <div>
                <input type="text" id="email-signup" class="col-lg-3" placeholder="Email" />
            </div>
            <div>
                <input type="password" id="password-signup" class="col-lg-3" placeholder="Password" />
            </div>
            <div>
                <button type="submit" class="btn signupBtn">Sign Up</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/signup.js"></script>